<template>
    <div class="container-extra row">
        <div class="col-12">
            <h2 class="content-heading">Detalles de facturación</h2>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <div class="content">
                <div class="block">                    
                    <div class="block-header block-header-default bg-danger">Datos de envío</div>
                    <div class="block-content">
                        <form method="post" @submit="processCheckout" id="checkout-form">
                            <div class="form-group">
                                <div class="form-material floating">
                                    <input type="text" class="form-control" name="contact-person" id="contact-person" required="required">
                                    <label for="">Persona contacto</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-material floating">
                                    <input type="text" class="form-control" name="identification" id="identification" required="required">
                                    <label for="">Cédula contacto</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-material floating">
                                    <input type="text" class="form-control" name="contact-phone" id="contact-phone" required="required">
                                    <label for="">Teléfono contacto</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-material floating">
                                    <input type="email" class="form-control" name="contact-email" id="contact-email" required="required">
                                    <label for="">Email de contacto</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-material floating">
                                    <input type="text" class="form-control" name="mailing-address" id="mailing-address" required="required">
                                    <label for="">Dirección de entrega (indique estado, urbanización, casa o edificio )</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-material floating">
                                    <input type="text" class="form-control" name="courier" id="courier">
                                    <label for="">Tipo de entrega</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-material floating">
                                    <input type="text" class="form-control" name="observations" id="observations">
                                    <label for="">Observaciones</label>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Confirmar envío" class="btn btn-rounded btn-danger min-width-125 mb-10">
                            </div>
                            <div class="text-center alert alert-success" v-if="success" v-text="successMessage"></div>
                            <div class="text-center alert alert-danger" v-if="error" v-text="errorMessage"></div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="content">
                <div class="block">
                    <div class="block-header block-header-default bg-danger">                        
                        Resumen de compra
                    </div>
                    <div class="block-content">
                        <table class="table table-hover table-vcenter">
                            <thead>
                                <tr>
                                    <td>Producto</td>
                                    <td>Cantidad</td>
                                    <td>Precio</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>prueba</td>
                                    <td>prueba</td>
                                    <td>prueba</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        //console.log("componente ok");        
    },
    data() {
        return {
            success : false,
            error : false,
            successMessage : '',
            errorMessage : '',
        }
    },
    methods: {
        processCheckout(e){
            e.preventDefault();
            let formData = new FormData(document.querySelector('#checkout-form'));
            axios.post('/send-form-checkout', formData)
                .then(response => {
                    if (response.data.success)
                    {
                        this.success = true;
                        this.error = false;
                        this.successMessage = response.data.description;
                    }                     
                    else
                    {
                        this.error = true;
                        this.success = false;
                        this.errorMessage = 'Lo sentimos, ha ocurrido un error inesperado';
                    }                                        
                })
                .catch(error => {
                    console.log(error);                    
                })
        }
    }
}
</script>