<template>    
    <!-- Pop In Modal -->
    <div class="modal fade" id="modal-popin-product-description" tabindex="-1" role="dialog" aria-labelledby="modal-popin" aria-hidden="true">
        <div class="modal-dialog modal-dialog-popin" role="document">
            <div class="modal-content">
                <div class="block block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title">Descripción de producto</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                <i class="si si-close"></i>
                            </button>
                        </div>
                    </div>                        
                    <div class="block-content">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2 class="custom-heading" v-html="name"></h2>
                            </div>
                            <div class="col-12" v-html="description">                                    
                            </div>    
                        </div>                                              
                    </div>                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Cerrar</button>                        
                </div>
            </div>
        </div>
    </div>
    <!-- END Pop In Modal -->    
</template>

<script>
export default {
    mounted() {
        console.log("componente ok");        
    },
    props : {
        name : String,
        description : String
    }
}
</script>