<template>
    <div class="container">
        <!-- Pop In Modal -->
        <div class="modal fade" id="modal-popin" tabindex="-1" role="dialog" aria-labelledby="modal-popin" aria-hidden="true">
            <div class="modal-dialog modal-dialog-popin" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Añadir producto al Carrito</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <form>
                            <div class="block-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Producto: <span class="font-bold" v-text="productName"></span> </p>     
                                </div>
                                <div class="col-md-6">
                                    <p>Precio por unidad: <span v-text="productPrice"></span> $ </p>
                                </div>
                            </div>                            
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-material floating">
                                        <select 
                                            class="form-control"
                                            id="material-select2"
                                            name="material-select2"
                                            v-model="productQuantity"
                                        >                                        
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>   
                                        <label for="material-select2">Seleccione Cantidad</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p>Costo Total</p>
                                    <h4 v-text="totalPrice">$</h4>   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 offset-md-4">
                                    <button 
                                        type="button"
                                        class="btn btn-rounded btn-danger min-width-125 mb-10"
                                        @click="confirmAddProduct"
                                    >
                                        <i class="fa fa-check"></i> Confirmar
                                    </button>
                                </div>
                            </div>                            
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Cerrar</button>                        
                    </div>
                </div>
            </div>
        </div>
        <!-- END Pop In Modal -->
    </div>
</template>

<script>
export default {
    mounted() {
        //console.log("componente Ok");
    },
    props: [
        'idProduct'
    ],
    data() {
        return {
            productName : '',
            productQuantity : 0,
            productPrice : 0
        }
    },
    methods: {
        confirmAddProduct(){
            alert('aqui agrego el producto');
            let formData = new FormData();
            formData.append('idProduct', parseInt(this.idProduct));
            formData.append('quantity', parseInt(this.productQuantity));
            axios.post('/add-to-cart', formData)
                .then(response => {
                    console.log(response);                    
                })
                .catch(error => {
                    console.log(error);                    
                })
        }
    },
    watch: {
        idProduct : function(newVal){
            let formData = new FormData();
            formData.append('idProduct', parseInt(newVal));
            axios.post('/info-product', formData)
                .then(response => {
                    console.log(response);
                    let productData = response.data.productData;
                    this.productName = productData.name;
                    this.productPrice = productData.price;
                })
                .catch(error => {
                    console.log(error);                    
                })
        }       
    },
    computed: {
        totalPrice : function() {
            return this.productPrice * this.productQuantity;
        }
    },
}
</script>