<template>
    <!-- Modal login -->
    <div class="modal fade" id="modal-fromright" tabindex="-1" role="dialog" aria-labelledby="modal-fromright" aria-hidden="true">
        <div class="modal-dialog modal-dialog-fromright" role="document">
            <div class="modal-content">
                <div class="block block-themed block-transparent mb-0">
                    <div class="block-header bg-primary-dark">
                        <h3 class="block-title">Iniciar sesión</h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                <i class="si si-close"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="container">
                            <div class="row justify-content-center mt-2">
                                <div class="col-md-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <form method="POST" @submit="checkFormLogin" id="main-login-form">
                                                <div class="form-group row">
                                                    <div class="col-md-12">
                                                        <div class="form-material floating">
                                                            <input 
                                                                id="email"
                                                                type="email"
                                                                class="form-control" 
                                                                name="email"
                                                                required autofocus>                                                            
                                                            <label for="email">Correo Electrónico</label>                                                                                                                                
                                                        </div>

                                                    </div>
                                                </div>                                            
                                                <div class="form-group row">
                                                    <div class="col-md-12">
                                                        <div class="form-material floating">
                                                            <input 
                                                                id="password"
                                                                type="password"
                                                                class="form-control"
                                                                name="password"
                                                                required>                                                            
                                                            <label for="password">Contraseña</label>                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-0">
                                                    <div class="col-md-12 text-center">
                                                        <button 
                                                            type="submit"
                                                            class="btn btn-rounded btn-danger min-width-125 mb-10">
                                                            Ingresar
                                                        </button>                                                        
                                                    </div>
                                                    <div class="col-md-12 text-center">
                                                        No posses cuenta.<a href="/registration"> Crear cuenta </a>
                                                    </div>
                                                </div>
                                                <div v-if="errorInLogin" class="form-group row text-center">
                                                    <div class="col-12">
                                                        <div class="alert alert-danger" v-html="errorLoginMessage"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                            
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Cerrar</button>                                    
                </div>
            </div>
        </div>
    </div>
    <!-- end modal login -->
</template>

<script>
export default {
    mounted() {
        //console.log("componente OK");        
    },
    data() {
        return {
            errors : [],
            email : null,
            pass : null,
            errorInLogin : false,
            errorLoginMessage : ''
        }
    },
    methods: {
        checkFormLogin: function(e) {
            e.preventDefault();            
            let formData = new FormData(document.querySelector('#main-login-form'));
            axios.post('/check-login', formData)
                .then(response => {
                    console.log(response);
                    if (response.data.success) 
                    {
                        this.$root.$emit('notificationUserLogged');
                        location.reload();
                    }                    
                    else
                    {
                        this.errorInLogin = true;
                        this.errorLoginMessage = response.data.description;
                    } 
                })
                .catch(error => {
                    console.log(error);                                        
                })

        }
    },
}
</script>