<template>
    <div class="block-content">
        <form method="POST" @submit="checkRegistrationForm" id="registration-form-client">            
            <div class="form-group row">
                <div class="col-12">
                    <div class="form-material floating">
                        <input type="text"
                        class="form-control"
                        id="full-name"
                        name="full-name"                                        
                        v-model="fullName"
                        required autofocus>
                        <label for="name">Nombre completo</label>                        
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <div class="form-material floating">
                        <input type="text"
                            class="form-control" 
                            name="cedula"
                            id="cedula"
                            v-model="cedula"
                            required>
                        <label for="cedula">Número de cédula</label>    
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <div class="form-material floating">
                        <input type="email"
                        class="form-control"
                        id="email"
                        name="email"                                        
                        v-model="email" 
                        required
                    >
                        <label for="email">Correo electrónico</label>                        
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <div class="form-material floating">
                        <input type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        v-model="pass"                                        
                        required>
                        <label for="password">Contraseña</label>                        
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <div class="form-material floating">
                        <input type="password"
                        class="form-control"
                        id="password-confirm"
                        name="password_confirmation"
                        v-model="repeatPass"
                        required>
                        <label for="password-confirm">Confirmar Contraseña</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <div class="form-material floating">
                        <input type="text" 
                            class="form-control"
                            name="pregunta-secreta" 
                            id="pregunta-secreta"
                            v-model="secretQuestion"
                            required>
                        <label for="pregunta-secreta">Pregunta secreta</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <div class="form-material floating">
                        <input type="text" 
                            class="form-control"
                            name="respuesta-secreta"
                            id="respuesta-secreta"
                            v-model="secretAnswer"
                            required>
                        <label for="respuesta-secreta">Respuesta Secreta</label>
                    </div>
                </div>
            </div>
            <div v-if="errors.length">
                <span class="font-bold">Por favor corrige los siguientes errorres</span>
                <ul>
                    <li v-for="error in errors" class="text-danger" v-html="error"></li>
                </ul>
            </div>
            <div v-if="registrationSuccess">
                <div class="alert alert-success"> 
                    Ha sido registrado correctamente.
                    <a href="#">Ingresar </a>    
                </div>
            </div>                                
            <div class="form-group row">
                <div class="col-12">
                    <button type="submit" class="btn btn-rounded btn-danger">
                        <i class="fa fa-plus mr-5"></i> Crear cuenta
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    mounted() {
        $('#registration-form-client' + " :input").attr("disabled", false);
    },
    data() {
        return {
            CLIENT_USER : 0,
            REPRESENTATIVE_USER : 1,
            errors : [],
            fullName : null,
            cedula : null,
            email : null,            
            pass : null,
            repeatPass : null,
            secretQuestion : null,
            secretAnswer : null,
            registrationSuccess : false
        }
    },
    methods: {
        checkRegistrationForm(e){
            e.preventDefault();
            this.errors = [];

            if (!this.fullName) {
                this.errors.push('Nombre requerido');
            }
            if (!this.email) {
                this.errors.push('Correo electrónico requrido');
            }
            if (this.pass.length < 8) {
                this.errors.push('La longitud de la clave debe ser al menos de 8 caracteres');
            }

            if (this.pass !== this.repeatPass) {
                this.errors.push('Las contraseñas no coinciden');
            }

            if (this.errors.length == 0) {
                let formData = new FormData(document.querySelector('#registration-form-client'));
                formData.append('typeUser', this.CLIENT_USER);
                axios.post('/create_account', formData)
                    .then(response => {
                        console.log(response);
                        if (response.data.success) 
                        {
                            this.registrationSuccess = true;        
                            $('#registration-form-representative' + " :input").attr("disabled", true);        
                        }
                        else
                            this.errors.push(response.data.description);                 
                    })
                    .catch(error => {
                        console.log(error);                    
                    })    
            }                        
        }       
    },
}
</script>