<template>
    <div class="container">
        <div v-if="looged" class="btn-group" role="group">
            <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user d-sm-none"></i>                                     
            <span class="d-none d-sm-inline-block" v-html="username"></span>
                <i class="fa fa-angle-down ml-5"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right min-width-200" aria-labelledby="page-header-user-dropdown">
                <h5 class="h6 text-center py-10 mb-5 border-b text-uppercase">User</h5>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="si si-user mr-5"></i> Mi perfil
                </a>
                <!-- disabled options
                <a class="dropdown-item d-flex align-items-center justify-content-between" href="javascript:void(0)">
                    <span><i class="si si-envelope-open mr-5"></i> Inbox</span>
                    <span class="badge badge-primary">3</span>
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="si si-note mr-5"></i> Invoices
                </a>
                -->
                <div class="dropdown-divider"></div>    
                <!-- Toggle Side Overlay -->
                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                <a class="dropdown-item" href="javascript:void(0)" data-toggle="layout" data-action="side_overlay_toggle">
                    <i class="si si-wrench mr-5"></i> Configuración
                </a>
                <!-- END Side Overlay -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="si si-logout mr-5"></i> Cerrar sesión
                </a>
            </div>
        </div>
        <div v-else class="float-right">
            <button type="button" class="btn btn-rounded btn-dual-secondary" data-toggle="modal" data-target="#modal-fromright">
                Iniciar sesión
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-flag"></i>
                <span class="badge badge-primary badge-pill">5</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right min-width-300" aria-labelledby="page-header-notifications">
                <h5 class="h6 text-center py-10 mb-0 border-b text-uppercase">Notifications</h5>
                <ul class="list-unstyled my-20">
                    <li>
                        <a class="text-body-color-dark media mb-15" href="javascript:void(0)">
                            <div class="ml-5 mr-15">
                                <i class="fa fa-fw fa-check text-success"></i>
                            </div>
                            <div class="media-body pr-10">
                                <p class="mb-0">You’ve upgraded to a VIP account successfully!</p>
                                <div class="text-muted font-size-sm font-italic">15 min ago</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-body-color-dark media mb-15" href="javascript:void(0)">
                            <div class="ml-5 mr-15">
                                <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
                            </div>
                            <div class="media-body pr-10">
                                <p class="mb-0">Please check your payment info since we can’t validate them!</p>
                                <div class="text-muted font-size-sm font-italic">50 min ago</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-body-color-dark media mb-15" href="javascript:void(0)">
                            <div class="ml-5 mr-15">
                                <i class="fa fa-fw fa-times text-danger"></i>
                            </div>
                            <div class="media-body pr-10">
                                <p class="mb-0">Web server stopped responding and it was automatically restarted!</p>
                                <div class="text-muted font-size-sm font-italic">4 hours ago</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-body-color-dark media mb-15" href="javascript:void(0)">
                            <div class="ml-5 mr-15">
                                <i class="fa fa-fw fa-exclamation-triangle text-warning"></i>
                            </div>
                            <div class="media-body pr-10">
                                <p class="mb-0">Please consider upgrading your plan. You are running out of space.</p>
                                <div class="text-muted font-size-sm font-italic">16 hours ago</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-body-color-dark media mb-15" href="javascript:void(0)">
                            <div class="ml-5 mr-15">
                                <i class="fa fa-fw fa-plus text-primary"></i>
                            </div>
                            <div class="media-body pr-10">
                                <p class="mb-0">New purchases! +$250</p>
                                <div class="text-muted font-size-sm font-italic">1 day ago</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center mb-0" href="javascript:void(0)">
                    <i class="fa fa-flag mr-5"></i> View All
                </a>
            </div>
        </div>
        <button 
            type="button"
            class="btn btn-rounded btn-dual-secondary"
            data-toggle="layout"
            data-action="side_overlay_toggle"
        >
            <i class="fa fa-shopping-cart"></i>
            <span class="badge badge-primary badge-pill" v-text="quantityProducts"></span>
        </button>
    </div>
</template>

<script>
export default {
    mounted() {
        console.log('success mounted'); 
        this.checkSession();
        this.getProductsinCart();               
    },
    data() {
        return {
            looged : false,
            username : '',
            quantityProducts: 0
        }
    },
    methods: {
        checkSession(){
            axios.post('/check-session')
            .then(response => {
                console.log(response);
                if (response.data.logged)
                {
                    this.looged = true;
                    this.username = response.data.username;                    
                } 
                else 
                    this.looged = false;                    
            })
            .catch(error => {
                console.log(error);                
            })
        },
        getProductsinCart(){
            axios.post('/products-on-cart')
                .then(response => {
                    console.log(response);   
                    console.log(Object.entries(response.data));                     
                    this.quantityProducts = 4;
                })
                .catch(error => {
                    console.log(error);                    
                })    
        }, 
        addTocart(idProduct, quantity){
            let formData = new FormData();
            formData.append('idProduct', parseInt(idProduct));
            formData.append('quantity', parseInt(quantity));
            axios.post('/add-to-cart', formData)
                .then(response => {
                    console.log(response);                    
                })
                .catch(error => {
                    console.log(error);                    
                })
        }    
    }
}
</script>