<template>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <div class="block">
                <div class="block-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-vcenter">
                            <thead class="classic-table-head">
                                <tr>
                                    <th></th>
                                    <th class="text-center">Producto</th>
                                    <th class="text-center">Precio</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody v-if="quantityProducts > 0">
                                <tr v-for="(item, index) in cartContent">
                                    <td>
                                        <button type="button"
                                            @click="removeOfCart(index)"
                                            class="btn btn-outline-info ml-1">
                                            <i class="fa fa-trash"></i></button>
                                    </td>
                                    <td v-html="item.nameWithFlavor" class="text-center"></td>
                                    <td v-html="item.price" class="text-center"></td>
                                    <td class="text-center" width="34%">
                                        <button type="button" class="btn btn-outline-danger" @click="decrementQuantity(index)">-</button>
                                        <span v-html="item.quantity" class=""></span>
                                        <button type="button" class="btn btn-outline-danger" @click="incrementQuantity(index)">+</button>
                                    </td>
                                    <td class="text-center">
                                        <total-by-product 
                                            :price="item.price"
                                            :quantity="item.quantity">
                                        </total-by-product>
                                    </td>                                    
                                </tr>                                
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="5"> No hay Productos agregados </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="block">
                <div class="block-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-vcenter">
                            <thead class="classic-table-head">
                                <tr>
                                    <th class="text-center" colspan="2">Total del Carrito</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <span>Subtotal:</span>
                                    </td>
                                    <td class="text-center">
                                        <div v-html="totalAmountInCart"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        Iva: 
                                    </td>
                                    <td class="text-center">
                                        0.00
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">   
                                        <span class="font-bold">Total:</span>
                                    </td>
                                    <td class="text-center">
                                        <div v-html="totalAmountInCart"></div>
                                    </td>
                                </tr>
                                <tr class="text-center">
                                    <td class="text-center" colspan="2">
                                        <a href="/checkout" class="btn btn-rounded btn-danger">
                                            Finalizar compra
                                        </a>
                                    </td>                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TotalByProduct from './TotalByProduct.vue';

export default {
    mounted() {
        //console.log('componente carrito OK');
        this.getProductsinCart();        
    },
    data() {
        return {
            cartContent : []
        }
    },
    props: {
        quantityProducts : Number,
    },
    computed: {
        totalAmountInCart : function(){
            let acumPrice = 0;
            for (const key in this.cartContent) {
                if (this.cartContent.hasOwnProperty(key)) {                    
                    acumPrice = acumPrice + (parseFloat(this.cartContent[key].price) * parseFloat(this.cartContent[key].quantity));
                }
            }
            return Number.parseFloat(acumPrice).toFixed(2);
        }
    },
    methods: {
        getProductsinCart(){
            axios.post('/products-on-cart')
                .then(response => {                    
                    this.cartContent = response.data;                    
                })
                .catch(error => {
                    console.log(error);                    
                })    
        },        
        decrementQuantity(index){
            if (this.cartContent[index].quantity > 1) {
                this.cartContent[index].quantity--;
                this.$root.$emit('notificationUpdateCart', index, -1);     
            }            
        },
        incrementQuantity(index) {
            this.cartContent[index].quantity++;
            this.$root.$emit('notificationUpdateCart', index, 1);
        },
        removeOfCart(id){            
            let formData = new FormData();
            formData.append('idProduct', id);
            axios.post('/remove-from-cart', formData)
                .then(response =>{
                    //console.log(response);
                    this.cartContent = response.data;                    
                })
                .catch(error => {
                    console.log(error);                    
                })
        }
    },
}
</script>