<template>
    <div class="container">
        <div class="card">
            <div class="container-fliud">
              <div class="wrapper row">
                <div class="preview col-md-6 col-sm-12">						
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img v-bind:src="productMainImage" /></div>
                        <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
                        <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
                        <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
                        <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
                    </div>
                  <!--
                  <ul class="preview-thumbnail nav nav-tabs">
                      <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                      <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                      <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                      <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                      <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
                  </ul>
                  -->            
                </div>
                <div class="details col-md-6 col-sm-12" style="padding: 10%;">
                    <h3 class="product-title" v-text="productName"></h3>
                    <!--
                    <div class="rating">
                      <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                      </div>
                      <span class="review-no">41 Vistas</span>
                    </div>
                    -->
                    <p class="product-description" v-text="productDescription"></p>
                    <h4 class="price">Precio: <span v-text="productPrice"></span></h4>
                    <div>
                        <button 
                            type="button" class="btn btn-rounded btn-danger"
                            data-toggle="modal"
                            data-target="#modal-popin"
                            @click="addToCart"                            
                        >
                            <i class="fa fa-shopping-cart"></i>
                            Agregar al carrito
                        </button>
                    </div>
                    <!--
                    <div class="action">
                      <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                      <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                    -->
                </div>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        if (this.id > 0)         
            this.getProductInfo();        
    },
    data() {
        return {
            id : this.idProduct,
            productName : '',
            productDescription : '',
            productPrice : 0,
            productMainImage : '',
        }
    },
    props : {
        idProduct : String
    },
    methods: {
        getProductInfo : function() {
            let formData = new FormData();
            formData.append('idProduct', this.id);
            axios.post('/info-product', formData)
                .then(response =>{
                    let productData = response.data.productData;
                    this.productName = productData.name;
                    this.productDescription = productData.description;
                    this.productPrice = '$' + productData.price;
                    this.productMainImage = response.data.baseUrlImage + '/' + productData.product_image;
                })
                .catch(error => {
                    console.log(error);                    
                })            
        },
        addToCart : function(){            
            this.$root.$emit('sendProductIdentifier', this.id);
        } 
    },
    computed: {
        // ...
    },    
}
</script>

<style>
    /** Custom styles for product view **/  
    img {
        max-width: 100%; 
    }
</style>