<template>
    <div v-html="totalPrice"></div>
</template>

<script>
export default {
    mounted() {
        //console.log('componente ok');        
    },
    props: ['price', 'quantity'],
    computed: {
        totalPrice : function() {
            return   Number.parseFloat(parseFloat(this.price) * parseFloat(this.quantity)).toFixed(2);
        }
    },
}
</script>