//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Codebase functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

@import url('https://fonts.googleapis.com/css?family=Montserrat|Squada+One&display=swap');

html {
    scroll-behavior: smooth;
}

a:hover{
    text-decoration: none;
    color: $primary-color;
}

.nav-tabs-block .nav-link:hover{
    color: $primary-color;
}

#page-container #sidebar
{
    background-color: $light-color;
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

.bg-dark{
    background-color: $dark-color;
}

.btn-success, .btn-success:hover, .btn-success.btn-noborder,
.btn-primary, .btn-primary:hover, .btn-primary.btn-noborder,
.btn-hero, .btn-hero:hover, .btn-success {
    background-color: $primary-color;
    border: 2px solid $primary-color;
}

.card-img-top {    
    height: auto;
    position: relative;
    width: 100%;
}

.card-body > img
{
    display: block;
    margin: auto;    
    padding-top : 1em;
    padding-bottom: 1em;
}

#page-header{
    background-color: $dark-color;
}

.btn.btn-rounded{
    color: $light-color;
}

.btn.btn-circle{
    color : $light-color;
}

.btn-danger{
    background-color: $primary-color;
}

.ribbon-box{
    background-color: $primary-color !important;
}

.badge-primary{
    background-color: $primary-color;
}
.total-price{
    font-size: 1.2em;
}
#page-header{
    position: fixed;
    top: 0;
    z-index: 4;
    max-height: 6em;
}
#main-container{
    padding-top : 4em;
}
.card-img-top{
    height: auto;
}
.modal-backdrop{
    z-index: 0;
}
.logo-home-header{    
    max-height: 40px;
    width: auto;
}
.logo-home-header:hover{
    text-decoration: none;
}
.btn-big-button{
    color: white;
    background-color: $primary-color;
    border-radius: 50px !important;
    padding: 15px 40px;
    font-size: 1.2em;
}
.btn-big-button:hover{
    color: white;
}

.bg-header-home{
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(241, 22, 18, 0.534), rgba(0, 152, 247, 0.521)), url('../media/nutrition-images/banner nutrition14.jpg');  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(241, 22, 18, 0.534), rgba(0, 152, 247, 0.507)), url('../media/nutrition-images/banner nutrition14.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
    width: 100% !important;
    height: auto !important;    
}
.banner-image{
    max-width: 100%;
    height: auto;
    text-align: center;
}

.goal-title{
    padding-top: 1.2em;
    padding-bottom: 0.5em;
    font-size: 2em;
    color: $primary-color;    
    font-family: 'Squada One', cursive;
}
.goal-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    padding: 4%;
}

.img-goals{
    height: 10em;
    width: auto;
}
.arrow-down-home{
    color: $light-color;
    font-size: 3em;        
}
.arrow-down-home:hover{
    color: $light-color;
}

.custom-registration-form
{
    max-width: 40em;
    margin: 0 auto;
}
.bg-gd-emerald {
    background: #6eab4d;
    background: linear-gradient(135deg, #e52629 0%, #343a40 100%) !important;
}

/* Media queries*/
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {    
    .margin-top-btn-create-account{
        margin-top: 10%;
    } 
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .margin-top-btn-create-account{
        margin-top: 10%;
    } 
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .margin-top-btn-create-account{
        margin-top: 0%;
    }     
 } 
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .btn-our-products{
        float: right;
    }
    .btn-create-account{
        float: left;    
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .btn-our-products{
        float: right;
    }
    .btn-create-account{
        float: left;    
    }
 } 

.buttons-group-cart{
    margin-top: 30%;
    padding: 2em;
}

.buttons-group-cart div a {
    width: 80%;    
}

.section-cart-component{
    padding: 4%;
}

.classic-table-head{
    background-color: $primary-color;
    color: white;
}

.container-extra{
    padding: 4%;
}

.bg-danger{
    background-color: $primary-color !important;
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {        
    background-color: $primary-color;
}

.nav-link:hover{
    color: $primary-color;
}