//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $brand-primary: #3b5998;

$primary-color : #e52629;
$right-sidebar-color: #343a40;
$light-color: #fff;
$dark-color: #343a40;